{% extends 'base.html' %}

{% block content %}
<div class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item" ><a href="{% url 'contect' %}">Contect</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock content %}