{% extends 'base.html' %}

{% block content %}
<div class="deatils">
    <div class="container my-5">

        {% if image %}
        <div class="card shadow">
            <img src="{{ image.largeImageURL }}" class="card-img-top" alt="{{ image.tags }}" style="height: 40rem;">
            <div class="card-body">
                <h5 class="card-title">{{ image.tags }}</h5>
                <p><strong>Photographer:</strong> {{ image.user }}</p>
                <p><strong>Downloads:</strong> {{ image.downloads }}</p>
                <p><strong>Likes:</strong> {{ image.likes }}</p>
                <a href="{{ image.pageURL }}" class="btn btn-primary" target="_blank">View on Pixabay</a>
            </div>
        </div>
        {% else %}
            <p>Image not found.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}
